In [ ]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine
 # Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:

engine = create_engine('postgres+psycopg2://postgres:qazwsx1990@localhost:5432/employeeshomework')

connection = engine.connect()

In [ ]:
data = engine.execute("SELECT * FROM salaries")
salaries_data = pd.read_sql("SELECT * from salaries", connection)
salaries_data.head()

In [ ]:
#Create a histogram to visualize the most common salary ranges for employees.
rain_df = salaries_data["salary"]

multi_plot = rain_df.plot(kind="bar", figsize=(20,5) ,color="blue", label="drug regimen count")


Gender = [ 'counts of each salary']
plt.legend(Gender, loc="best",fancybox=True, framealpha=1, shadow=True, borderpad=2, ncol=2)
plt.xlabel("salaries")
plt.ylabel("salaries ranges for employees")
plt.show() 
plt.tight_layout()

In [ ]:
#Create a histogram to visualize the most common salary ranges for employees.
salaries_data.plot(kind="bar", x="salary", grid=True, figsize=(8,8),
              title="salary ranges for employees")
plt.show()

In [ ]:
#create a bar chart of average salary by title.